* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
ul {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}
nav{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  color: white;
}
header {
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  height: 10vh;
  background-color: rgb(44, 131, 189);
  border-radius: 2px;
}
header ul li {
  display: flex;
  margin-left: 5px;
  margin-right: 20px;
  padding: 20px;
  justify-content: flex-end;
  align-items: center;
  background-color: cornflowerblue;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px #094a5a;
}
header h1 {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  color: white;
}
.hero-banner{
  display: flex;
  background-image: url('/images/02-hero-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
  height: 20vh;
  justify-content: center;
  align-items: center;
  color: white;
}
.hero-banner h2 {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  color: white;
}

.page-section-about{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 5px;
}
.page-section-about h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 50px;
  border-right: 5px solid black;
  }
  .page-section-about p{
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    margin-right: 50px;
    }
.page-section-work{
  display: flex;
  justify-content: space-around;
}
.page-section-contact{
  display: flex;
  justify-content: space-around;
}